/* Colors */
$green: #3A7A75;
$red: #C77873;
$brown: #7A4441;
$yellow: #C7984C;
$white: #ffffff;
$black: #000000;
$silver-gray: #c8c8c8;
$dusty-gray: #aaaaaa;


/* Fonts */
$poppins: 'Poppins', Arial, Helvetica, sans-serif;
